<div class="container">
  <div class="mutacoes">
    <section>
      <h2>Ancestral</h2>
      <div>R$300,00</div>
      <ul>
        <li>
          <strong>Sexo:</strong>
          <p>Descrição</p>

          <strong>Anilha:</strong>
          <p>Descrição</p>

          <strong>Nascimento:</strong>
          <p>Descrição</p>

          <button class="button-comprar">Comprar</button>
        </li>
      </ul>
    </section>
  </div>

  <div class="mutacoes">
    <section>
      <h2>Diluido</h2>
      <div>R$300,00</div>
      <ul>
        <li>
          <strong>Sexo:</strong>
          <p>Descrição</p>

          <strong>Anilha:</strong>
          <p>Descrição</p>

          <strong>Nascimento:</strong>
          <p>Descrição</p>

          <button class="button-comprar">Comprar</button>
        </li>
      </ul>
    </section>
  </div>

  <div class="mutacoes">
    <section>
      <h2>Duplo Diluido</h2>
      <div>R$300,00</div>
      <ul>
        <li>
          <strong>Sexo:</strong>
          <p>Descrição</p>

          <strong>Anilha:</strong>
          <p>Descrição</p>

          <strong>Nascimento:</strong>
          <p>Descrição</p>

          <button class="button-comprar">Comprar</button>
        </li>
      </ul>
    </section>
  </div>
</div>
